.my_declare{
    width: 1134px;
    padding: 0 33px;
    max-height: 1348px;
    overflow: hidden;
}
.my_declare_title{
    height: 53px;
    line-height: 53px;
    margin-top: 28px;
    border-bottom: 1px solid #eaeaea;
}
.my_declare_left{
    float: left;
}
.icon_jilu{
    font-size: 20px;
    color: #eb5524;
    margin-left: 5px;
}
.icon_text{
    font-size: 18px;
    color: #333;
}
.jixu_shenbao{
    float: right;
    color: #0299ec;
    font-size: 14px;
    margin-right: 18px;
}
/* biaoge */
.tab{
    margin-top: 30px;
    border-collapse:collapse;
}
.tab_tr_title td:nth-of-type(1),.tab_tr td:nth-of-type(1)>.tab_tr_span{
    width: 183px;
    height: 100%;
}
.tab_tr_title td:nth-of-type(2),.tab_tr td:nth-of-type(2)>.tab_tr_span{
    width: 147px;
    height: 100%;
}
.tab_tr_title td:nth-of-type(3),.tab_tr td:nth-of-type(3)>.tab_tr_span{
    width: 380px;
    height: 100%;
}
.tab_tr_title td:nth-of-type(4),.tab_tr td:nth-of-type(4)>.tab_tr_span{
    width: 137px;
    height: 100%;
}
.tab_tr_title td:nth-of-type(5),.tab_tr td:nth-of-type(5)>.caozuo{
    width: 290px;
    height: 100%;
}
.tab_tr_title{
    height: 45px;
    line-height: 45px;
    background: #f5f7f9;
}
.tab_tr{
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
}
.tab_tr_title td,.tab_tr td{
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 0;
}
.tab_tr td{
    height: 50px;
}
.tab_tr td>span{
    line-height: 50px;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;  
}
.xiugai,.tijiao,.jindu,.tuandui{
    font-size: 14px;
}
.icon_font{
    font-size: 16px;
    margin-left: 9px;
}
.xiugai{
    color: #ea4e1b;
}
.tijiao{
    color: #0299ec;
}
.jindu{
    color: #54d593;
}
.tuandui{
    color: #41d9cd;
}
.caozuo_jin{
    color: #b3b3b3;
}
.fenyeqi{
    padding: 37px 0 42px;
    height: 34px;
    text-align: center;
}
.fenyeqi_ye{
    display: inline-block;
    width: 62px;
    height: 27px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    color: #999;
    border-radius: 27px;
    line-height: 27px;
    text-align: center;
    margin: 0 6px;
}
.fenyeqi_num{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    color: #999;
    line-height: 30px;
    text-align: center;
    margin: 0 6px;
}
.fenyeqi_color{
    border: none;
    background: #ea4e1b;
    color: #fff;
}